body {
  margin: 20px;
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
  
}

.container {
  display: flex;
  flex-direction: row;
}
#game-window{
  background: #101020;
  
  flex:1;
}
.sidebar{
  background: #101020;
  color: white;
  
  margin-right: 15%;
  flex:2;
  
}
@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
